{% extends "base.html" %}
{% load ose %}

{% block container %}
    <div class="growl" id="app-growl"></div>

    <nav class="container navbar navbar-toggleable-sm fixed-top navbar-inverse bg-primary app-navbar">

        <button
                class="navbar-toggler navbar-toggler-right hidden-md-up"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'activity' %}">Activity</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Main</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'graphs' %}">Graphs</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <span class="navbar-text">
                {{ request.user.username }}
                {% for user_position in request.user.positions.all %}
                    {% if forloop.first %}-{% endif %}
                    {{ user_position.position }}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
                </span>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>

    {% block content_container %}
    <div class="container pt-4">
        <div class="row">

            <div class="col-lg-7">
                {% block content %}{% endblock %}
            </div>

            <div class="col-lg-5">

                {% block effort_charts %}
                    <div class="card card-profile mb-4">
                        <div class="card-block">
                            <canvas id="global-effort"></canvas>
                            {% if user_effort %}
                            <br><canvas id="user-effort"></canvas>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}

                {% block right_column %}

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.level }} alert-dismissible hidden-md-down" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                {% endblock %}

            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block custom_js %}
<script>
    chartColors = {
        hours: 'rgb(220, 57, 18)',
        hours_fill: 'rgba(220, 57, 18, 0.3)',
        devs: 'rgb(51, 102, 204)',
        devs_fill: 'rgba(51, 102, 204, 0.3)',
    };
    weekAxes = [{
        display: true,
        scaleLabel: {
            display: true,
            labelString: 'Week'
        }
    }];
    new Chart(document.getElementById("global-effort").getContext('2d'), {
        type: 'line',
        options: {
            title:{
                display:true,
                text:'OSE Active Developers and Development Effort'
            },
            scales: {
                xAxes: weekAxes
            }
        },
        data: {
            labels: [
                {% for point in global_effort %}
                    '{{ point.week }}',
                {% endfor %}
            ],
            datasets: [{
                label: "Hours/10",
                borderColor: chartColors.hours,
                backgroundColor: chartColors.hours_fill,
                data: [
                    {% for point in global_effort %}
                        {% widthratio point.minutes 600 1 %},
                    {% endfor %}
                ]
            }, {
                label: "Developers",
                borderColor: chartColors.devs,
                backgroundColor: chartColors.devs_fill,
                data: [
                    {% for point in global_effort %}
                        {{ point.users }},
                    {% endfor %}
                ]
            }]
        }
    });

    {% if user_effort %}
    new Chart(document.getElementById("user-effort").getContext('2d'), {
        type: 'line',
        options: {
            title:{
                display:true,
                text:'Your Level of Effort',
            },
            scales: {
                xAxes: weekAxes
            }
        },
        data: {
            labels: [
                {% for point in user_effort %}
                    '{{ point.week }}',
                {% endfor %}
            ],
            datasets: [{
                label: "Hours",
                borderColor: chartColors.hours,
                backgroundColor: chartColors.hours_fill,
                data: [
                    {% for point in user_effort %}
                        {% widthratio point.minutes 60 1 %},
                    {% endfor %}
                ]
            }]
        }
    });
    {% endif %}

</script>
{% endblock %}
