{% extends "frame.html" %}
{% load ose %}

{% block content %}
    <ul class="list-group media-list media-list-stream mb-4">
        <li class="media list-group-item p-4">{{ global_effort.canvas|safe }}<br>{% embed_graph "weekly" "total" %}<br></li>
        {% if user_effort %}
        <li class="media list-group-item p-4">{{ user_effort.canvas|safe }}<br>{% embed_graph "weekly" "user" user.username %}<br></li>
        {% endif %}
        <li class="media list-group-item p-4">{{ individual_efforts.canvas|safe }}<br>{% embed_graph "weekly" "user" %}<br></li>
    </ul>
{% endblock %}

{% block effort_charts %}{% endblock %}

{% block custom_js %}
{{ block.super }}
<script>
{{ individual_efforts.js|safe }}
</script>
{% endblock %}
