{% extends "frame.html" %}

{% block left_column %}

    <div class="card card-profile mb-4">
        <div class="card-header" style="background-image: url(assets/img/iceland.jpg);"></div>
        <div class="card-block text-center">
            <a href="profile/index.html">
                <img
                        class="card-profile-img"
                        src="assets/img/avatar-dhg.png">
            </a>

            <h6 class="card-title">
                <a class="text-inherit" href="profile/index.html">Dave Gamache</a>
            </h6>

            <p class="mb-4">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

            <ul class="card-menu">
                <li class="card-menu-item">
                    <a href="#userModal" class="text-inherit" data-toggle="modal">
                        Friends
                        <h6 class="my-0">12M</h6>
                    </a>
                </li>

                <li class="card-menu-item">
                    <a href="#userModal" class="text-inherit" data-toggle="modal">
                        Enemies
                        <h6 class="my-0">1</h6>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card visible-md-block visible-lg-block mb-4">
        <div class="card-block">
            <h6 class="mb-3">About <small>· <a href="#">Edit</a></small></h6>
            <ul class="list-unstyled list-spaced">
                <li><span class="text-muted icon icon-calendar mr-3"></span>Went to <a href="#">Oh, Canada</a>
                <li><span class="text-muted icon icon-users mr-3"></span>Became friends with <a href="#">Obama</a>
                <li><span class="text-muted icon icon-github mr-3"></span>Worked at <a href="#">Github</a>
                <li><span class="text-muted icon icon-home mr-3"></span>Lives in <a href="#">San Francisco, CA</a>
                <li><span class="text-muted icon icon-location-pin mr-3"></span>From <a href="#">Seattle, WA</a>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}
    <ul class="list-group media-list media-list-stream mb-4">
        {% include "notebook/entries.html" with entries=profile.entries.all %}
    </ul>
{% endblock %}
