<canvas id="all-user"></canvas>
<script>
new Chart(document.getElementById("all-user").getContext('2d'), {
    type: 'line',
    options: {
        legend: {
            display: true
        },
        title: {
            display:true,
            text:'OSE Individual Development Effort'
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Week'
                }
            }]
        }
    },
    data: {
        labels: [
            {% for week in individual_efforts.weeks %}
                '{{ week }}',
            {% endfor %}
        ],
        datasets: [
        {% for user in individual_efforts.users %}
        {
            label: '{{ user.name }}',
            borderColor: '{{ user.color }}',
            data: [
                {% for hour in user.hours %}
                    {{ hour }},
                {% endfor %}
            ]
        },
        {% endfor %}
        ]
    }
});
</script>
