{% extends "admin/change_form.html" %}
{% load dartium %}
{% block extrahead %}{{ block.super }}
{% dart "onboarding_application_form.dart" %}
{% endblock %}

{% block content %}
{{ block.super }}
<template id="steps-help">
{% for widget in step_widgets %}
    <div data-name="{{ widget.name }}">
        <div class="instructions_default">{{ widget.instructions_default|safe }}</div>
        <div class="instructions_help">{{ widget.instructions_help|safe }}</div>
        <div class="widget_conf_default">{{ widget.widget_conf_default|safe }}</div>
        <div class="widget_conf_help">{{ widget.widget_conf_help|safe }}</div>
    </div>
{% endfor %}
</template>
{% endblock %}
